@font-face {
	font-family: 'Xfiles';
	src: url('../x-files.ttf') format('truetype');
}

@keyframes hover1 {
	0% {
		margin-top: 0;
	}

	50% {
		margin-top: 10px;
		margin-left: 10px;
	}

	100% {
		margin-top: 0;
		margin-left: 0;
	}
}

@keyframes hover2 {
	0% {
		margin-top: 0;
	}

	50% {
		margin-top: 15px;
		margin-right: 10px;
	}

	100% {
		margin-top: 0;
		margin-left: 0;
	}
}

$bg: #252525;
$fg: #dedede;

* {
	// reset
	padding: 0;
	margin: 0;
}

body {
	background-color: $bg;
	color: $fg;
	font-family: 'Xfiles';
}

.container {
	margin: 0 auto;
	max-width: 600px;
	text-align: center;
}

.header {
	margin: 40px auto;
}

.spookometer {
	width: 400px;
	margin: 40px auto;

	&__inner {
		height: 100px;
		width: 400px;
		background-image: url('../assets/spookometer.png');
		background-size: 400px auto;
		background-repeat: no-repeat;
		opacity: 1;
		transition: opacity 2s ease-in-out;

		&.hide {
			opacity: 0;
		}
	}
}

.mist {
	height: 400px;
	width: 400px;
	position: fixed;
	background-repeat: no-repeat;
	pointer-events: none;

	&.mist1 {
		background-image: url('../assets/mist1.png');
		top: 20px;
		left: 10px;
		opacity: 0.4;
		width: 486px;
		height: 228px;
		animation: hover1 5s infinite;
	}
	&.mist2 {
		background-image: url('../assets/mist2.png');
		top: 200px;
		right: 0px;
		opacity: 0.2;
		width: 571px;
		height: 336px;
		animation: hover2 3s infinite;
	}
}

.form {
	margin: 20px auto;
}

.upload,
.submit {
	display: block;
	margin: 10px auto;
}

.result {
	display: block;
	margin: 40px;
}